@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.navcontainer {
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    background: rgb(64, 146, 228);
  }

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 10%;
    justify-content: space-between; 
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px 10%;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.right ul {
    list-style: none;
}

.right li {
    padding: 0 0.5rem;
    display: inline-block;
    padding: 0px 20px;
}

right li a {
    transition: all 0.3s ease 0s;
}

.right li a:hover {
    color: #fa923f;
}

button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: #c8c9ce;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.navcontainer {
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    
    background: #E38E5E;
  }

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 10%;
    justify-content: space-between; 
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

/* .logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.right a {
    color: white;
    text-decoration: none;
}

.right ul {
    list-style: none;
    margin: 0;
    padding : 0;
    display: flex;
}

.right li {
    padding: 0 0.5rem;

}

.right a:hover,
.right a:active {
    color: #fa923f;
} */















































@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.navcontainer {
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    background: rgb(64, 146, 228);
    box-shadow: 0px 1px 5px #1B1A25;
    z-index: 1;
  }

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 10%;
    justify-content: flex-start; 
}

.sidebar_button, .right_button {
    height: 30px;
    width: 30px;
    border-radius: 10%;
    margin-right: 5%;
}

.right_links {
    margin-left: 30px;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    margin: 0;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.right ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.right li {
    display: inline-block;
    padding: 10px 20px 0px;
    margin-left: auto;
}


.right li a:hover {
    color: #fa923f;
}


.search_button {

    height: 40px;
    width: 40px;
    border: 1px solid #c8c9ce;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.search_form {
    margin-left: 10px;
    padding-bottom: 5px;
    width: 50px;

}

.search_input{
    height: 40px;
    width: 250px;
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}


/* button {
    padding: 9px 25px;
    background-color: #edf0f1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -------------------------------------------------------------------------------------------------------
} */


.sidebar_container {
    position: fixed;
    height: 100%;
    width: 200px;
    /* z-index: 2; */
    background-color: rgb(205, 211, 218);
    overflow-x: hidden;
    padding-top: 10px;
    animation: slide-open .75s forward;
}

.side_list {
    padding-top: 30%;
}

.side_list h4{
    color: #000000;
    padding-bottom: 30%;
}

/* ------------------------------------------------------------- */

.logoCon {
    margin-left: 32;
    margin-right: 32;
}

.logoTitle {
    font-family: 'Muli';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 19;
    line-height: '24px';
    letter-spacing: '0.4px';
    color: '#A4A6B3';
    opacity: 0.7;
    margin-left: 12; /* <--- necessary to separate title and logo */
}

.Logo {
    height: 30px;
    width: 30px;
    background-size: auto;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: #c8c9ce;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------------------------------------------------------- */

/* .modaActiveBar {
    height: 56;
    width: 3;
    background-color: #DDE2FF;
    position: absolute;
    left: 0;
}
.modActiveContainer {
    background-color: rgba(221,226,255, 0.08);
}

.modActiveTitle {
    color: #DDE2FF;
}

.modContainer {
    height: 56;
    cursor: pointer;
    padding-left: 32;
    padding-right: 32;
}

.modActiveContainer:hover {
    background-color: rgba(221,226,255, 0.08);
}

modTitle {
    font-family: Muli;
    font-size: 16;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    margin-left: 24;
} */


/* ------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli');




/* ------------------------------------------------------------- */

.logoCon {
    margin-left: 32;
    margin-right: 32;
}

.logoTitle {
    font-family: 'Muli';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 19;
    line-height: '24px';
    letter-spacing: '0.4px';
    color: '#A4A6B3';
    opacity: 0.7;
    margin-left: 12; /* <--- necessary to separate title and logo */
}

.Logo {
    height: 30px;
    width: 30px;
    background-size: auto;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: #c8c9ce;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------------------------------------------------------- */


.menuItemList {
    margin-top: 52;
}

.sidebar_container {
    background-color: #363740;
    width: 255;
    padding-top: 32;
}

/* ------------------------------------------------------------- */


