@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

/* html, body, .background {
  height: 100%;
}

.background {
  background: url(./images/musicb.jpg) no-repeat center center fixed;
background-size: cover;
} */